<!DOCTYPE html>
<html>
  <head>
    <title>GreenGrocer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= javascript_include_tag 'sign_in', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'partials/header' %>
  <% if current_page?(root_path) %>
    <section class="hero-section">
      <div class="hero-content">
        <!-- Your hero content -->
      </div>
    </section>
  <% end %>
    <%= yield %>

  </body>
</html>
